body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Background color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Container background color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.namePicture{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
}

.name {
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em; /* Adjust font size */
}

.name span {
  color: #3498db; /* First name color */
}

.name span.last-name {
  color: #333; /* Last name color */
}
/* Header Styles */
.p-picture {
  border-radius: 10%;
  max-width: 150px; /* Adjust the image size */
  display: block;
  margin: 0 auto 10px; /* Center the image and add some space at the bottom */
}

.name {
  color: #333;
  text-align: center;
  margin: 10px 0;
}

.title {
  color: #666;
  text-align: center;
}

/* Section Styles */
section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Section background color */
}

/* Project Section Styles */
.projects {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Projects section background color */
}

/* Skill Section Styles */
.info {
  background-color: #fbfdfe; /* Skill section background color */
  color: #000000;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info h3 {
  margin-bottom: 10px;
}

.info ul {
  padding: 0;
  list-style-type: none;
}

.info li {
  margin-bottom: 5px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact{
  color: white;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

