/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  text-align: center;
  max-width: 600px; /* Adjusted the max-width */
  margin: 20px auto; /* Added some margin */
  padding: 40px;
  background-color: #9c9c9c4b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Added border-radius for a rounded look */
}


.p-picture {
  max-width: 170px; 
  max-height: 195px; 
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.p-picture:hover {
  transform: scale(1.1);
}

.name {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.title {
  color: #555;
  font-size: 18px;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 30px;
}

.info h3 {
  color: #333;
}

.info ul {
  list-style: none;
  padding: 0;
}

.info li {
  margin-bottom: 10px;
}

#about-me,
#education,
#professional-background,
#sports-enthusiast,
#web-development-journey,
#connect {
  margin-bottom: 30px;
}

.projects {
  margin: 30px 0;
}

.projects h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 20px;
}

footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px; /* Added border-radius for consistency */
}

footer h3 {
  margin-bottom: 15px;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

li{
  list-style: none;
}